.top-filter {
    border-top: 1px solid #c4c8cc;
    border-bottom: 1px solid #c4c8cc;
    overflow: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: visible;
}

.top-filter-inner {
    position: relative;
    width: 100%;
    padding: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
}

.cal-wpr {
    display: flex;
    align-items: center;
}
