* {
  box-sizing: border-box;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

.fl-r {
  float: right;
}

.w-33 {
  width: 33%;
}

.mar-0 {
  margin: 0;
}

.mar-b-hlf {
  margin-bottom: 15px;
}

.mar-l-hlf {
  margin-left: 15px;
}

.card {
  margin-bottom: 15px;
}